@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/livvic-v11-latin-regular.woff2") format("woff2"),
  url("../fonts/livvic-v11-latin-regular.woff") format("woff"); 
}

@font-face {
  font-family:"Livvic";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/livvic-v11-latin-600.woff2") format("woff2"),
  url("../fonts/livvic-v11-latin-600.woff") format("woff"); 
}

@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/livvic-v11-latin-700.woff2") format("woff2"),
  url("../fonts/livvic-v11-latin-700.woff") format("woff"); 
}

*{
  box-sizing: border-box;
}

body{
  font-family:"Livvic";
}
.container{
  width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  
}

/* SITE-HEADER */

.site-header{
  padding-top: 60px;
  padding-bottom: 150px;
  background-color: rgba(1, 78, 86, 1);
}
.site-header-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-nav-box{
  display: flex;
  align-items: center;
}
.nav-list{
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 80px;
  list-style: none;
}
.nav-item ~ .nav-item{
  margin-left: 40px;
}
.nav-link:hover{
  color: rgb(192, 26, 26);
}
.nav-link{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
.contact-link{
  padding-right:33px ;
  padding-bottom: 11px;
  padding-left: 32px;
  padding-top: 9px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  border: 2px solid rgb(255, 255, 255);
  box-sizing: border-box;
  border-radius: 24px;
}
.contact-link:hover{
  border: 2px solid rgb(192, 26, 26);
  color: rgb(192, 26, 26);
}

/* SITE-MAIN */

.about-section{
  background-color: rgba(1, 78, 86, 1);
  padding-bottom: 90px;
  padding-bottom: 120px;
  background-image:url(/img/b-g1.png) ;
  background-repeat:no-repeat ;
  background-position: top 129px right 452px;
  
}
.about-section-box{
  display: flex;
  position: relative;
}
.about-section-titel{
  margin: 0;
  color:rgb(255, 255, 255);
  font-family: Livvic;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  
}
.about-section-text{
  margin: 0;
  width: 730px;
  position: relative;
  margin-left: 80px;
  color: rgba(255, 255, 255, 1);
  font-family: Livvic;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}
.about-section-text::before{
  position: absolute;
  top: -40px;
  content: '';
  width: 50px;
  height: 4px;
  background-color: rgba(246, 126, 126, 1);
  
}
.site-hero-section{
  background-color: rgba(0, 64, 71, 1);
  padding-top: 140px;
  padding-bottom: 140px;
  background-image: url(/img/b-g2.png),url(/img/b-g3.png);
  background-repeat:no-repeat ;
  background-position: top 1px left 90px, bottom 0 right 0;
}
.site-hero{
  position: relative;
}
.site-hero-titel{
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 64px;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
}
.site-hero-list{
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-hero-item{
  position: relative;
  width: 350px;
  height: 280px;
  background-color: rgba(1, 47, 52, 1);
  margin-bottom: 76px;
}
.site-hero-item:hover .service-box{
  transform: translateY(-270px);
}
.service-box{
  padding: 24px;
  transition: all .7s ease;
}
.aphorism{
  color: rgba(255, 255, 255, 1);
}
.site-hero-item-box{
  text-align: center;
  overflow: hidden;
  height: 280px;
  padding-top: 14px;
}
.site-hero-text{
  padding-bottom: 100px;
}
.directors-imges{
  width: 96;
  height: 96;
}

.site-hero-item::after{
  content: '+';
  width: 56px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  bottom: -28px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  background-color: rgba(246, 126, 126, 1);
  border-radius: 30px;
}
.site-hero-item:hover::after{
  transform: rotate(45deg);
  transition: transform 0.9s ease;
  background-color:rgba(121, 200, 199, 1) ;
}
.hero-item-titel{
  margin: 0;
  margin-top: 16px;
  color:rgba(121, 200, 199, 1);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px
}
.site-hero-text{
  margin: 0;
  color:rgba(255, 255, 255, 1);
  font-family: Livvic;
  font-size: 15px;
  line-height: 25px;
}
.service-logo{
  margin-right: 10px;
  color: rgba(255, 255, 255, 1);
}

/* CLIENT-SECTION */

.clinet-section{
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: rgba(1, 47, 52, 1);
  background-image: url(/img/clients-bg.png);
  background-repeat:no-repeat ;
  background-position: top 1px left 90px;
}
.clinet-bar-box{
  position: relative;
}

.clinet-titel{
  margin: 0;
  padding: 0;
  padding-bottom: 70px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-family: Livvic;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
}

.clinet-nav-list{
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.ready-section{
  padding-top: 100px;
  padding-bottom:100px ;
  background-color: rgba(246, 126, 126, 1);
  background-image: url(/img/p-g5.png);
  background-repeat:no-repeat ;
  background-position: top 76px left 35px;
  
}
.ready-box{
  display: flex;
  position: absolute;
  justify-content: space-between;
}
.ready-titel{
  margin: 0;
  padding-left: 63px;
  font-family: Livvic;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
}
.ready-link{
  margin-left: 260px;
  border: 2px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}
/* .ready-box::before{
  display:inline-block;
  content: '';
  position: absolute;
  left: -250px;
  bottom: -105px;
  background-image: url(/img/Group8.png);
  background-repeat:no-repeat ;
  width: 200px;
  height: 200px;
  margin-left: 68px;
} */
/* SITE-FOOTER-STYLE */
.site-footer{
  padding-top: 48px;
  padding-bottom: 48px;
  background-color: rgba(0, 37, 41, 1);
}
.footer-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-text{
  margin: 0;
}
.footer-nav-list{
  margin: 0;
  display: flex;
  justify-content: center;
  padding-top: 25px;
  list-style: none;
  
}
.footer-nav-item{
  margin-right: 50px;
  margin-left: -20px;
  
}
.site-hr-item{
  margin: 0;
  color: rgba(255, 255, 255, 1);
  opacity: 0.6;
  padding-top: 10px;
  list-style: none;
}
.footer-link-list{
  margin: 0;
  display: flex;
  list-style: none;
}
.footer-nav-item-link{
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}
.footer-link-item{
  margin-left: 16px;
}
.Copyright{
  padding-top: 51px;
  color: rgba(255, 255, 255, 1);
  opacity: 0.6;
}

/* HOME-PAGE */

.home-section{
  background-color: rgba(1, 78, 86, 1);
  padding-bottom: 120px;
  background-image: url(/img/b-g7.png),url(/img/p-g5.png);
  background-repeat:no-repeat ;
  background-position: bottom -104px right 350px, top -45px left 0px ;
}
.home-section-box{
  display: flex;
}
.home-titel{
  width: 532px;
}.titel-color{
  color: rgba(246, 126, 126, 1);
}
.home-text{
  width: 445px;
  position: relative;
  padding-top: 40px;
  padding-bottom: 100px;
}

.bulid-mange-section{
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: rgba(1, 47, 52, 1);
  background-image: url(/img/clients-bg.png);
  background-repeat: no-repeat;
  background-position:bottom 0px right -76px ;
}


.mange-titel{
  width: 545px;
  position: relative;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
}
.mange-titel::before{
  position: absolute;
  top: -54px;
  content: '';
  width: 50px;
  height: 4px;
  background-color: rgba(246, 126, 126, 1);
}
.bulid-mange-box{
  display: flex;
  align-items: center;
}
.bulid-mange-list{
  margin: 0;
  padding: 0;
  margin-left: 230px;
  margin-top: 93px; 
  list-style: none;
}
.bulid-mange-item{
  width: 264px;
  position: relative;
  margin-top: 35px;
}
.bulid-mange-item::before{
  display:inline-block;
  content: '';
  background-image: url(/img/Experienced.png);
  background-repeat:no-repeat ;
  position: absolute;
  top:0 ;
  left:-100px;
  width: 72px;
  height: 72px;
}
.bulid-mange-item-Our-processes{
  position: relative;
}

.bulid-mange-item-Our-processes::before{
  display:inline-block;
  content: '';
  background-image: url(/img/EnhancedProductivity.png);
  background-repeat:no-repeat ;
  position: absolute;
  top:0 ;
  left:-100px;
  width: 72px;
  height: 72px;
}
.bulid-mange-item-Our-customized{
  position: relative;
}
.bulid-mange-item-Our-customized::before{
  display:inline-block;
  content: '';
  background-image: url(/img/EasyImplement.png);
  background-repeat:no-repeat ;
  position: absolute;
  top:0 ;
  left:-100px;
  width: 72px;
  height: 72px;
}
.bulid-mange-item-titel{
  color: rgba(246, 126, 126, 1);
}
.bulid-mange-item-text{
  width: 445px;
  color: rgba(255, 255, 255, 1);
}
.delivering-section{
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: rgba(0, 64, 71, 1);
}
.delivreing-titel{
  width: 932px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-family: Livvic;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
}
.delivreing-titel-color{
  color: rgba(121, 200, 199, 1);
}
.delivreing-list{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  margin-top: 56px;
  margin-top: 92px;
  text-align: center;
  list-style: none;
}
.delivering-item{
  margin-left: 30px;
  position: relative;
}
.delviering-item-titel{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color:rgba(121, 200, 199, 1) ;
}
.delivering-item-text{
  width: 350px;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
}

.delivering-item::before{
  display: inline-block;
  content: '';
  background-image: url(/img/“.png);
  background-repeat: no-repeat;
  position: absolute;
  top: -40px;
  left: 133px;
  width: 67px;
  height: 67px;
}
.delivering-item-Aiysha{
  position: relative;
}
.delivering-item-Aiysha::before{
  display: inline-block;
  content: '';
  background-image: url(/img/“.png);
  background-repeat: no-repeat;
  position: absolute;
  top: -40px;
  left: 133px;
  width: 67px;
  height: 67px;
}
.delivering-item-Arthur{
  position: relative;
}
.delivering-item-Arthur::before{
  display: inline-block;
  content: '';
  background-image: url(/img/“.png);
  background-repeat: no-repeat;
  position: absolute;
  top: -40px;
  left: 133px;
  width: 67px;
  height: 67px;
}
.delivering-item::after{
  display: inline-block;
  content: '';
  background-image: url(/img/KadyBaker.png);
  background-repeat: no-repeat;
  position: absolute;
  top: auto;
  left: 133px;
  width: 67px;
  height: 67px;
}
.delivering-item-Aiysha::after{
  display: inline-block;
  content: '';
  background-image: url(/img/AiyshaReese.png);
  background-repeat: no-repeat;
  position: absolute;
  top: auto;
  left: 133px;
  width: 67px;
  height: 67px;
}
.delivering-item-Arthur::after{
  display: inline-block;
  content: '';
  background-image: url(/img/ArthurClarke.png);
  background-repeat: no-repeat;
  position: absolute;
  top: auto;
  left: 133px;
  width: 67px;
  height: 67px;
}

.delivering-item-text-name{
  color: rgb(255, 255, 255);
}

/* CONTACT-PAG */

.contact-section{
  background-color: rgba(1, 78, 86, 1);
  padding-bottom: 128px;
}
.contact{
  display: flex;
  justify-content: space-between;
}
.contact-titel{
  margin: 0;
  padding: 0;
  margin-left: -95px;
  color:rgb(255, 255, 255) ;
  font-family: Livvic;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 100px;
}
.contact-ask{
  margin: 0;
  padding: 0;
  margin-left: -95px;
  color: rgba(246, 126, 126, 1);
  font-family: Livvic;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
}
.contact-list{
  margin: 0;
  padding: 0;
  margin-top: 40px;
  list-style: none;
}
.contact-item{
  position: relative;
  margin-top: 40px;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}
.contact-item-setting{
  position: relative;
  margin-top: 40px;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}
.contact-item-grow{
  position: relative;
  margin-top: 40px;
  color: rgba(255, 255, 255, 1);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
}
.contact-item::before{
  display:inline-block;
  content: '';
  background-image: url(/img/Experienced.png);
  background-repeat:no-repeat ;
  position: absolute;
  top:-26px ;
  left:-100px;
  width: 72px;
  height: 72px;
}
.contact-item-setting::before{
  display:inline-block;
  content: '';
  background-image: url(/img/EnhancedProductivity.png);
  background-repeat:no-repeat ;
  position: absolute;
  top:-26px ;
  left:-100px;
  width: 72px;
  height: 72px;
}
.contact-item-grow:before{
  display:inline-block;
  content: '';
  background-image: url(/img/EasyImplement.png);
  background-repeat:no-repeat ;
  position: absolute;
  top:-26px;
  left:-100px;
  width: 72px;
  height: 72px;
}

/* CONTACT-FORM */ 

.contact-form-item{
  display: block;
  border:none ;
  outline:none ;
  padding-bottom:10px ;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  width: 540px;
  margin-top: 24px;
  background-color:rgba(1, 78, 86, 1) ;
}
.contact-form-item::placeholder{
  color: rgba(255, 255, 255, 1);
  font-family: Livvic;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.6;
}
.contact-form-item:hover{
color:rgb(255, 0, 0);
border-bottom:rgb(255, 0, 0) 1px solid  ;
}
.contact-submit{
  margin-top:24px ;
  padding-right: 32px;
  padding-bottom: 9px;
  padding-left: 32px;
  padding-top: 11px;
  font-family: Livvic;
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 28px;
  color: rgba(0, 64, 71, 1);
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid #FFFFFF;
box-sizing: border-box;
border-radius: 24px;
}